.about {
  padding: 120px 0;
  background: $white;
  min-height: 70vh;
  .about-content {
    display: flex;
    justify-content: space-between;
    img {
      width: 100%;
    }
  }
  .part-text {
    color: $black;
    .text {
      width: 100%;
      height: 50vh;
      overflow-y: hidden;
      white-space: normal;
      text-overflow: ellipsis;
    }
  }
}
