.faq {
  min-height: 70vh;
  padding: 30px 0;
  .accordion.card.card-header {
    font-size: 600px !important;
  }
  .accordion-card {
    background: $primary-background;
    color: set-text-color($primary-background);
    .accordion-card-headers {
      background: wheat;
    }
  }
  .acc-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
