.features {
  padding: 100px 0;
  .single-feature {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 15px;
    min-height: 300px;
    margin: 10px 10px;
    color: $black;

    svg {
      font-size: 100px;
      color: $blue;
    }
  }
}
