.footer {
  background: $primary-background;
  .copyright {
    text-align: center;
    margin: 0;
    padding: 17px 0 18px;
    color: $white;
    font-size: 16px;
    opacity: 0.8;
    line-height: 1.6;
  }
}
