.header {
  position: static;
  top: 0;
  width: 99vw;
  z-index: 999;
  background: $primary-background;
  .logo {
    h2 {
      font-size: calc(1.5rem + 2vw);
      background: $blue;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .navbar-light {
    .navbar-toggler {
      transform: scale(0.8);

      width: 15%;
      height: 35px;
      border: none;
      background: $blue;
      background-clip: text;
      -webkit-background-clip: border-box;
      -webkit-text-fill-color: transparent;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: set-text-color($primary-background);
        text-transform: uppercase;
        font-weight: bold;
        font-size: calc(1em + 0.1vw);
        transition: all 1s;
        margin: 0 5px;
        &:hover {
          background: $primary-background;
          color: set-text-color($primary-background);
        }
      }
    }
  }
}
