.transaction {
  padding: 120px 0 80px;
  background: $primary-background;
  color: $blue;

  table {
    background: $primary-background;
    thead.table-head {
      font-weight: bolder;
      font-size: larger;
    }
  }
}
