@import url(https://fonts.googleapis.com/css?family=Cairo&display=swap);
@import "config";
* {
  margin: 0;
  padding: 0;
  a {
    color: set-text-color($primary-background);
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  img {
    max-width: 100%;
  }
  ul li,
  ol li {
    list-style: none;
    padding: 0;
  }
}

.section-title {
  text-align: left;
  margin-bottom: 50px;
  display: block;

  h1 {
    font-size: 2.5em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    color: $blue;
    margin-bottom: 9px;
    text-transform: capitalize;
  }
  h4 {
    font-size: 20px;
    line-height: 20px;
    color: $dark;
    font-weight: lighter;
  }
}
.whiteBtn {
  @include glowBtn();
}

.haveAccount {
  @include glowBtn();
}
@import "header";
@import "banner";
@import "statistics";
@import "about";
@import "./services";
@import "features";
@import "investment";
@import "testimony";
@import "newsletter";
@import "transactions";
@import "referral";
@import "footer";
@import "register";
@import "login";
@import "message";
@import "partners";
@import "review";
@import "faq";
@import "steps";
@import "mediaQueries";
